#qrcode {
 position: relative;
    top: 20%;
    transform: translateY(20%); /* or try 50% */
}

#centeredcontent {
    position: relative;
    top: 50%;
    transform: translateY(50%); /* or try 50% */
}